* {
    margin: 0;
    padding: 0;
}

body, html {
    height: 100%;
}

.content-wrapper {
    background-color: black;
    position: absolute;
    width: 100%;
    z-index: 5;
    min-height: 100%;
}

.particles-js {
    z-index: -5;
    position: absolute;
    width: 100%;
}

header h1{
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    color: white;
    margin-top: 50px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
}

.main {
    display: flex;
    justify-content: center;
    position: relative;
}

.main canvas:nth-child(1){
    z-index: -4;
}

.main canvas:nth-child(2){
    z-index: -3;
    position: absolute;
}

.main canvas:nth-child(3){
    z-index: -2;
    position: absolute;
}

.main canvas:nth-child(4){
    z-index: -1;
    position: absolute;
}

.attack-wrapper {
    position: absolute;
    top: 50px;
    z-index: 1;
}

.attack {
    display: none;
    width: 650px;
    height: 400px;
    background: #f2f2f2;
    flex-direction: column;
    border: 5px solid black;
    border-radius: 5%;
}

div.attack > p {
    padding-top: 31px;
}

.all-attacks p {
    display: flex;
    align-items: center;
}

.pick {
    height: 50px;
    width: 100px;
    border: 2px solid black;
    border-radius: 5%;
}

label {
    padding-left: 10px;
}

div.attack p {
    text-align: center;
    height: 100px;
    font-size: 25px;
}

.all-attacks {
    display: flex;
    justify-content: space-evenly;
}

.tasks-wrapper {
    position: absolute;
    top: 50px;
    z-index: 1;
}

.tasks {
    display: none;
    width: 580px;
    height: 350px;
    background: #f2f2f2;
    flex-direction: column;
    border: 5px solid black;
    border-radius: 5%;
    font-size: 25px;
}

.tasks p {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.solve {
    width: 100px;
    height: 50px;
    border: 2px solid black;
    border-radius: 5%;
}
/*
.tasks p:nth-child(2) span {
    margin-right: 50px;
}*/

.playpause {
    width: 30px;
    height: 30px;
    background: url(../../images/play.png);
    border: none;
    cursor: pointer;
}

.right, .wrong, .lost {
    display: none;
    font-size: 40px;
    justify-content: center;
    color: #fff;
    position: absolute;
    top: 100px;
}

.start {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    position: absolute;
    width: 1024px;
    height: 512px;
    background: rgb(242,242,242);
}

.player-name {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin-top: 50px;
    margin-bottom: 50px;
}

.start-game {
    background: rgb(242,242,242);
    border: none;
    cursor: pointer;
    z-index: 1;
    outline: none;
}

.start-game img {
    outline: none;
}

.restart {
    display: none;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    position: absolute;
    width: 1024px;
    height: 512px;
    z-index: 1;
    background: rgb(242,242,242);
}

.restart-game {
    background: rgb(242,242,242);
    border: none;
    cursor: pointer;
    z-index: 1;
    outline: none;
}

.restart-game img {
    outline: none;
    background: rgb(242,242,242);
}

table.record-table {
    width: 50%;
    position: absolute;
    z-index: 5;
    top: 25%;
}

table tr:nth-child(1) td:nth-child(2) img {
    float: right;
    cursor: pointer;
}

table tr:nth-child(1) td:nth-child(2) img:hover {
    transform: scale(1.1);
}

.carousel {
    margin-top: 100px;
}

.game-rules {
    margin-top: 100px;
    text-align: center;
    font-weight: bold;
    color: white;
}

.developers {
    display: flex;
    justify-content: center;
    color: white;
    margin-top: 50px;
}

.developers-info {
    display: flex;
    justify-content: space-around;
    color: white;
    margin-top: 20px;
    margin-bottom: 50px;
}

.sortable {
    display: none;
    justify-content: center;
    font-size: 40px;
}

.letters {
    list-style-type: none;
    letter-spacing: 10px;
}

input.user-input {
    width: 250px;
    margin: 0 auto;
}